<h3>{{ board.name }}</h3>

<img src="assets/images/{{ board.img }}.png" class="image_clq grid-40 mobile-grid-40 no-padding" alt=""/>

<div class="actions grid-45 mobile-grid-45 prefix-5 suffix-10 mobile-prefix-5 no-padding">

    <button class="button buy" ng-click="">
        Buy
        <img src="assets/images/bitcoin-icon.png" class="bitcoin" alt=""/> {{ board.price }}
    </button>
    <button class="button upgrade" disabled>Upgrade</button>

    <p class="explanations">
        {{ board.description }}
    </p>

    <div class="clear"></div>
</div>

<div class="units">
</div>
