<h3>{{ name }}</h3>

<div class="grid-100 grid-parent">

    <img src="/assets/images/{{ img }}.png" class="image_clq grid-35 mobile-grid-35 no-padding" alt=""/>

    <div class="actions grid-50 mobile-grid-50 prefix-5 suffix-10 mobile-prefix-5 no-padding" ng-class="{max: level == upgradeMax}">

        <button class="button buy" ng-click="buy()">
            Buy
            <span class="no-wrap">
              <img src="/assets/images/bitcoin-icon.png" class="bitcoin" alt=""/> {{ upgrades[level + 1].price }}
            </span>
        </button>

        <button class="button upgrade" ng-click="upgrade()" ng-disabled="level == 0">
            Upgrade [{{ level + 1 }}]
            <span class="no-wrap">
                <img src="/assets/images/bitcoin-icon.png" class="bitcoin" alt=""/> {{ upgrades[level + 1].price }}
            </span>
        </button>

        <button class="button end" ng-class="{max: level == upgradeMax}">
            Max Upgrade
        </button>

        <button class="button unit" ng-click="buyUnit()" ng-click="unit()" ng-disabled="level == 0">
            Buy one {{ unitStat.name }}
            <span class="no-wrap">
                <img src="/assets/images/bitcoin-icon.png" class="bitcoin" alt=""/> {{ unitStat.price }}
            </span>
        </button>

        <div class="clear"></div>
    </div>
</div>

<div class="grid-100 no-padding">
    <p class="explanations">
        {{ description }}
    </p>
</div>

<div class="units">
    Unit number: {{ units }}
</div>
