.toast-container {

  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: $c-black;
  max-width: 310px;
  z-index: 1;
  
  .toast {
    margin: 5px auto 0;
    border: 1px solid $main;
    background-color: $c-black;
    display: inline-block;
    min-width: 310px;

    p.title {
      background-color: $main;
      color: $c-black;
      padding: 5px 10px;
      font-weight: bold;
      font-size: 18px;
      text-transform: uppercase;

      i {
        float: right;
        cursor: pointer;
      }
    }

    p.message {
      max-width: 300px;
      padding: 20px 10px;
    }
  }
}
