#dashboard body {

  header#main {

    position: relative;

    h2 {
      margin-top: 50px;
      font-size: 80px;
      text-align: center;
    }

    #stats {

      margin-top: 40px;
      text-align: center;

      #bitcoins {
        font-size: 45px;
        padding: 20px 0;
        margin-bottom: 30px;

        #bitcoin-icon-top {
          width: 34px;
          margin-left: 20px;
        }
      }

      .stat-value {
        .item {
          display: block;
          margin-bottom: 10px;
          font-size: 20px;
        }

        .value {
          font-size: 40px;
        }

      }

    }

  }

  #online-menu {
    margin-top: 70px;
    text-align: center;
  }

  #board {

    margin: 70px auto 0;
    opacity: 1;

    h3 {
      font-size: 22px;
      margin-bottom: 10px;
    }

    .board-elem {

      position: relative;
      margin-bottom: 40px;

      .image_clq {
        background-color: $main;
      }

      .button {
        margin-top: 20px;
        font-size: 12px !important;
        line-height: 16px;
        display: block;
        text-align: center;
        float: none;

        &.buy {
          display: none;
        }

        &.end {
          display: none;
        }
      }

      .explanations {
        margin-top: 20px;
      }

      .units {
        margin-top: 20px;
      }

      .max {

        .button {

          &.buy, &.upgrade {
            display: none;
          }

          &.end {
            display: block;
          }
        }
      }

      .blocked {

        opacity: 0.3;
        @include transition-property(opacity);
        @include transition-duration(1s);

        .button {
          &.buy {
            display: block;
          }

          &.upgrade {
            display: none;
          }

          &.unit {
            display: none;
          }
        }

        .units {
          display: none;
        }
      }

      &:hover .blocked {
        opacity: 1;
      }
    }
  }
}

@media only screen and (max-width: 600px) {

  #dashboard body {

    header#main {

      h2 {
        font-size: 45px;
      }
    }
  }
}
